name: Docker Image CI

on: [ push ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Login Docker Hub
      uses: docker/login-action@v1.10.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
        
    - name: Build Image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/node:${GITHUB_REF##*/} .
    
    - name: Push Image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/node:${GITHUB_REF##*/}
